extends layout

block content
  h1= title
  p To view employee details click on button below.
  
  // Add the following button code
  a(href='/employee', class='btn btn-primary') Employee Page
  a(href='/addEmployee', class='btn btn-success') Add Employee Page
